Hello Admin,
<br> <br>

Student <strong> <%= @name %>( <%= @role %>) </strong> has joined your organisation. Please find the details below:
<br> <br>
Name : <strong><%= @name %> </strong> <br>
Age : <%= @age %> years <br>
Email : <%= @email %> <br>
Role: <%= @role %> <br>
Experience: <%= @experience %> <br>

<p> ------------------------------------------ </p>

Thanks & Regards, 
<br>
PS organisation
